<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a ui-sref="Home">Home</a></li>
                <li ui-sref-active="active"><a ui-sref="About">About</a></li>
                <li ui-sref-active="active"><a ui-sref="Contact">Contact</a></li>
                <li ui-sref-active="active"><a ui-sref="Users">Users</a></li>
                <li ui-sref-active="active" class="dropdown">
                    <a ui-sref="Personal" class="dropdown-toggle" data-toggle="dropdown">Личный кабинет<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="Personal">Главная</a></li>
                        <li><a ui-sref="Complex">Мои комплексы</a></li>
                        <li><a ui-sref="Workout">Тренировка</a></li>
                        <li><a ui-sref="Statistics">Статистика</a></li>
                        <li><a ui-sref="Settings">Настройки</a></li>
                    </ul>
                </li>
                <li ui-sref-active="active" class="dropdown">
                    <a ui-sref="Personal" class="dropdown-toggle" data-toggle="dropdown">Авторизация<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="Register">Регистрация</a></li>
                        <li><a ui-sref="Auth">Авторизация</a></li>
                        <li><a ui-sref="ChangePass">Смена пароля</a></li>
                        <li><a ui-sref="AddUser">Добавление пользователя</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
