<div class="container">
    <div class="page-header ng-scope">
        <div class="row">
            <div class="col-md-4">
                <h1 class="ng-binding">{{ pcc.title }}</h1>
            </div>
            <div class="col-md-8 text-right addComplexFormWrap">
                <form class="form-inline" name="addComplexForm" novalidate>
                    <div class="form-group">
                        <label class="sr-only" for="ComplexName">Название комплекса</label>
                        <input type="text"
                               class="form-control"
                               name="ComplexName"
                               ng-model="pcc.addComplexForm.ComplexName"
                               id="ComplexName"
                               ng-class="{'has-error':addComplexForm.ComplexName.$invalid && addComplexForm.ComplexName.$dirty}"
                               placeholder="Название комплекса">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="DescriptionComplex">Описание комплекса</label>
                        <input type="text"
                               name="DescriptionComplex"
                               ng-model="pcc.addComplexForm.DescriptionComplex"
                               class="form-control"
                               id="DescriptionComplex"
                               placeholder="Описание комплекса">
                    </div>
                    <!--<div class="checkbox">-->
                        <!--<label>-->
                            <!--<input type="checkbox"-->
                                   <!--ng-model="pcc.addComplexForm.ComplexActive"-->
                                   <!--name="ComplexActive"> Активность-->
                        <!--</label>-->
                    <!--</div>-->
                    <button type="button" ng-click="pcc.addComplex()" class="btn btn-info">Создать комплекс</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container marketing">
    <div class="row">
        <div class="col-lg-4" ng-repeat="complex in pcc.complexList">
            <img class="img-circle" data-src="holder.js/140x140" alt="140x140"
                 src="img/complex.jpg"
                 style="width: 140px; height: 140px;">

            <h2>{{complex.name}}</h2>

            <p>{{complex.description}}</p>

            <div class="btn-group-vertical width-200">
                <!--<button class="btn effect-button"-->
                        <!--ng-class="complex.active?'btn-success':'btn-danger'"-->
                        <!--change-html="complex.active?'деактивировать':'активировать'"-->
                        <!--data-effeckt-type="expand-right"-->
                        <!--data-complex-id="{{complex.$id}}"-->
                        <!--data-complex-active="complex.active"-->
                        <!--active-complex><span class="label">{{complex.active?'активен':'Не активен'}}</span>-->
                    <!--<span class="spinner"></span>-->
                <!--</button>-->
                <button class="btn btn-danger"
                        ng-click="pcc.delete_quest(complex.$id)"
                ><span class="label">Удалить</span>
                    <span class="spinner"></span>
                </button>
                <span class="effeckt-modal-button"
                  data-effeckt-type="from-above"
                  data-effeckt-target="#complex{{complex.$id}}"></span>
                <div class="effeckt-wrap effeckt-modal-wrap" id="complex{{complex.$id}}">
                    <div class="effeckt-content effeckt-modal" id="effeckt-modal">
                        <i class="effeckt-modal-close fa fa-times fa-2x"></i>

                        <h3>Упражнения комплекса</h3>

                        <div class="effeckt-modal-content text-left"></div>
                    </div>
                </div>
                <button class="btn btn-info effeckt-button"
                        data-complex_id="{{complex.$id}}"
                        show-complex-eserc
                        data-effeckt-type="expand-right">
                    <span class="label">Упражнения</span><span class="spinner"></span>
                </button>
            </div>
        </div>
    </div>
    <span class="effeckt-modal-button"
          id="remove-complex-button"
          data-effeckt-type="from-above"
          data-effeckt-target="#remove-complex"></span>

    <div class="effeckt-wrap effeckt-modal-wrap" id="remove-complex">
        <div class="effeckt-content effeckt-modal">
            <i class="effeckt-modal-close fa fa-times fa-2x"></i>

            <h3>Удалить ?</h3>

            <div class="effeckt-modal-content text-center">
                <button class="btn btn-danger delete-button" remove-complex data-com-id="">Удалить</button>
                <button class="btn btn-success">Оставить</button>
            </div>
        </div>
    </div>
</div>