.width-200 {
    width: 200px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

#footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

/* Have to set height explicity on ui-view
to prevent collapsing during animation*/
.ui-view-container {
    position: relative;
    margin-top: 50px;
}

[ui-view].ng-enter, [ui-view].ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    transition: all .5s ease-in-out;
}

[ui-view].ng-enter {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
}

[ui-view].ng-enter-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

[ui-view].ng-leave {
    opacity: 1;
}

[ui-view].ng-leave-active {
    opacity: 0;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
    padding-right: 15px;
    padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}

/*
addComplexPage
*/
.addComplexFormWrap {
    padding-top: 30px;
}

/*effeckt*/
.effeckt-overlay.effeckt-modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.effeckt-modal-wrap {
    background-color: #ffffff;
    box-shadow: 0 0 10px #000;
    max-width: 100%;
    width: auto;
    max-height: 80%;
    height: auto;
}

.effeckt-content {
    max-height: 100%;
    margin: 0;
    padding: 0;
    height: auto;
}

.effeckt-content h3 {
    text-align: center;
    padding: 10px;
    margin: 0;
    height: 50px;
    position: absolute;
    width: 100%;
    background: #fff;
}

.effeckt-modal-content {
    padding: 50px 30px 10px 10px;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    width: auto;
}

.effeckt-modal-close {
    text-shadow: 2px 2px 2px black;
    color: #ffffff;
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -11px;
    cursor: pointer;
}

/*effeckt end*/
/*complex*/
.complex-exercises {
    text-decoration: underline;
    cursor: pointer;
}

.user-complex {
    background: orange;
    border-radius: 22px;
    overflow: hidden;
    margin-right: 25px;
    display: inline-block;
    white-space: nowrap;
    position: relative;
}

span.complex-name {
    display: inline-block;
    line-height: 32px;
    padding: 5px;
    margin-right: 50px;
}

.action-complex {
    position: absolute;
    right: 0;
    width: 42px;
    height: 42px;
    padding: 5px;
    border-radius: 50%;
}

.effeckt-modal-content ul {
    padding: 0;
    list-style: none;
}

.effeckt-modal-content li {
    padding-left: 16px;
}

.effeckt-modal-content li:hover {
    padding-left: 0;
}

.effeckt-modal-content li.exerc:hover i {
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
    color: red;
}

.effeckt-modal-content li.exerc i {
    display: none;
}

.action-complex i {
    overflow: hidden;
    height: 28px;
    transition: all .2s;
}

.action-complex i.null {
    height: 1px;
    transition: all .2s;
}

/*complex end*/

.hidden {
    display: none;
}

.complex-button-set {
    margin-top: 25px;
}

/*workout*/
div#current-exerc {
    margin-top: 15px;
    display: none;
}

button.set-exerc-count {
    border-radius: 50%;
    /*height:212px;*/
    border: none;
    box-shadow: 1px 1px 14px black;
    background: orange;
    transition: all 0.5s;
}

@media (max-width: 400px) {
    button.set-exerc-count {
        height: 130px;
        padding: 0;
    }

    .next-exerc, .prew-exerc {
        font-size: 50px;
        line-height: 130px;
        padding: 0;
    }
}

@media (min-width: 400px) {
    button.set-exerc-count {
        height: 212px;
        padding: 0;

    }

    .next-exerc, .prew-exerc {
        font-size: 80px;
        line-height: 212px;
        padding: 0;
    }

}

@media (min-width: 768px) {
    button.set-exerc-count {
        height: 315px;

    }

    .next-exerc, .prew-exerc {
        font-size: 120px;
        line-height: 315px;
    }
}

@media (min-width: 992px) {
    button.set-exerc-count {
        height: 430px;

    }

    .next-exerc, .prew-exerc {
        font-size: 120px;
        line-height: 430px;
    }
}

@media (min-width: 1200px) {
    button.set-exerc-count {
        height: 340px;

    }

    .next-exerc, .prew-exerc {
        font-size: 120px;
        line-height: 340px;
    }
}

button.set-exerc-count:hover {
    box-shadow: 0px 0px 5px black;
}

button.set-exerc-count:active {
    box-shadow: none;
}

span.exerc-count {
    font-size: 80px;
    color: #31709c;
}

.next-exerc, .prew-exerc {
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.non-active {
    color: #ccc;
}

/*workout end*/
/*static*/
text.legendText {
    font-size: 15px;
}

/*static end */
.personal-photo img {
    width: 100%;
}

/*alerts*/
div.alert.remove {
    opacity: 0;
}

.alerts-wrap {
    position: absolute;
    top: 15px;
    right: 15px;
}

.alerts-wrap div.alert {
    position: relative;
    z-index: 1;
    width: 300px;
    top: 0;
    right: 0;
    transition: all 5s;
}

/*alerts end*/