<div class="container">
    <div class="page-header ng-scope">
        <h1>Смена пароля</h1>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <form name="changePassForm" class="form" novalidate ng-submit="ac.changePassword()">
                <div class="form-group"
                     ng-class="{'has-error':changePassForm.email.$invalid && changePassForm.email.$dirty}">
                    <label for="userEmail" class="sr-only">Email</label>
                    <input type="email"
                           class="form-control"
                           id="userEmail"
                           name="email"
                           placeholder="Email"
                           ng-model="ac.changePassword.email"
                           required>
                </div>
                <div class="form-group"
                     ng-class="{'has-error':changePassForm.oldPassword.$invalid && changePassForm.oldPassword.$dirty}">
                    <label for="oldPassword" class="sr-only">Пароль</label>
                    <input type="password"
                           class="form-control"
                           id="oldPassword"
                           name="oldPassword"
                           placeholder="Пароль"
                           ng-model="ac.changePassword.oldPassword"
                           required>
                </div>
                <div class="form-group"
                     ng-class="{'has-error':changePassForm.pass_confirm.$touched
                                && changePassForm.newPassword.$modelValue!=changePassForm.newPasswordConfirm.$modelValue}">
                    <label for="newPassword" class="sr-only">Новый пароль</label>
                    <input type="password"
                           class="form-control"
                           id="newPassword"
                           name="newPassword"
                           placeholder="Новый пароль"
                           ng-model="ac.changePassword.newPassword"
                           required>
                </div>
                 <div class="form-group"
                     ng-class="{'has-error':changePassForm.pass_confirm.$touched
                                && changePassForm.newPassword.$modelValue!=changePassForm.newPasswordConfirm.$modelValue}">
                    <label for="newPasswordConfirm" class="sr-only">Новый пароль</label>
                    <input type="password"
                           class="form-control"
                           id="newPasswordConfirm"
                           name="newPasswordConfirm"
                           placeholder="Подтвердите новый пароль"
                           ng-model="ac.changePassword.newPasswordConfirm"
                           required>
                </div>
                <button type="submit"
                        class="btn btn-info"
                        ng-disabled="changePassForm.$invalid">Сменить пароль
                </button>
            </form>
        </div>
    </div>
</div>