<div class="container">
    <div class="page-header ng-scope">
        <h1>Восстановление пароля</h1>
    </div>
    <div class="row">
        <div ng-if="!isAuth" class="col-sm-6 col-md-4">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
            <form name="resetPassForm" class="form" novalidate ng-submit="ac.resetPassword()">
                <div class="form-group"
                     ng-class="{'has-error':resetPassForm.email.$invalid && resetPassForm.email.$dirty}">
                    <label for="newUserEmail" class="sr-only">Имя</label>
                    <input type="email"
                           class="form-control"
                           id="newUserEmail"
                           name="email"
                           placeholder="Email"
                           ng-model="ac.authUserInf.email"
                           required>
                </div>
                <button type="submit"
                        class="btn btn-info"
                        ng-disabled="resetPassForm.$invalid">Восстановить
                </button>
            </form>
        </div>
    </div>
</div>